.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
  }
  
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card h3 {
    color: #a3a5ae;
    font-size: 16px;
}

img{
    float: right;
    max-width: 64px;
    max-height: 64px;
}